p {
    margin: 0px;
}
body{
    font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

.box-describe h1,h4{
    font-weight: bold;
}
.title div{

    background-color: #f2f2f2;
    font-size: 1.3rem;
    font-weight: bold;
}
.box-describe p{
    font-weight: bold;
    font-size: 20px;
}


@media only screen and (max-width: 1024px) {

  }
  @media only screen and (max-width: 768px) {
    .title div {
        font-size: 14px;
    }
    .box-describe p{
        font-size: 16px;
    }
    .box-describe h4 {
        font-size: 16px;
    }
  }

  @media only screen and (max-width: 425px) {
  }

  @media only screen and (max-width: 375px) {

  }

    @media only screen and (max-width: 320px) {
        .title div {
            font-size: 12px;
        }
        .box-describe p{
            font-size: 14px;
        }
        .box-describe h4 {
            font-size: 14px;
        }
    }